<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apps</key>
	<array>
		<dict>
			<key>store</key>
			<string>s1</string>
			<key>desc</key>
			<string>d1</string>
			<key>img</key>
			<string>i1</string>
			<key>title</key>
			<string>t1</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d2</string>
			<key>store</key>
			<string>s2</string>
			<key>img</key>
			<string>i2</string>
			<key>title</key>
			<string>t2</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d3</string>
			<key>store</key>
			<string>s3</string>
			<key>img</key>
			<string>i3</string>
			<key>title</key>
			<string>t3</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d4</string>
			<key>store</key>
			<string>s4</string>
			<key>img</key>
			<string>i4</string>
			<key>title</key>
			<string>t4</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d5</string>
			<key>store</key>
			<string>s5</string>
			<key>img</key>
			<string>i5</string>
			<key>title</key>
			<string>t5</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d6</string>
			<key>store</key>
			<string>s6</string>
			<key>img</key>
			<string>i6</string>
			<key>title</key>
			<string>t6</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d7</string>
			<key>store</key>
			<string>s7</string>
			<key>img</key>
			<string>i7</string>
			<key>title</key>
			<string>t7</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d8</string>
			<key>img</key>
			<string>i8</string>
			<key>store</key>
			<string>s8</string>
			<key>title</key>
			<string>t8</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d9</string>
			<key>store</key>
			<string>s9</string>
			<key>img</key>
			<string>i9</string>
			<key>title</key>
			<string>t9</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d10</string>
			<key>store</key>
			<string>s10</string>
			<key>img</key>
			<string>i10</string>
			<key>title</key>
			<string>t10</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d11</string>
			<key>store</key>
			<string>s11</string>
			<key>img</key>
			<string>i11</string>
			<key>title</key>
			<string>t11</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>d12</string>
			<key>store</key>
			<string>s12</string>
			<key>img</key>
			<string>i12</string>
			<key>title</key>
			<string>t12</string>
		</dict>
	</array>
</dict>
</plist>
